<div class="center jumbotron">
  <% provide(:title, 'Contact') %>
  <h1>Contact</h1>
    <p>
      Contact:
    </p>
    <p>
      email: example@gmail.com
    </p>
    <p>
      mobile number: +380112233445
    </p>
</div>
