<div class="center jumbotron"> <!--old classes: mx-auto" style="width: 500px; -->
  <h1>V Barake</h1>
    <p>This is page for tankists!</p>
    <% if user_signed_in? %>
    <div>
      <p>Hello, tankist <%= current_user.email %></p>

    
    </div>

    <% else %>
    <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>
