<div class="center jumbotron"> <!--old classes: mx-auto" style="width: 500px; -->
  <h1>V Barake</h1>
    <p>This is page for tankists!</p>
    <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
    <br>
    <%= link_to image_pack_tag("rails-logo.svg.png", alt: "Rails logo", width: "300px"),
              'http://rubyonrails.org/' %>

</div>
