<div class="container">
  <div class="mx-auto" style="width: 200px;">
    <h1>V Barake</h1>
    <p>This is page for tankists!</p>

  <!--   <%# <%= image_pack_tag 'rootkit-omg.jpg' %> %> kartinka -->
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
  
  </div>
</div>
