<div class="row center">
  <div class="col-md-6 col-md-offset-3 mx-auto">
    <div class="field">
      <%= current_user.name %>
    </div>

    <div class="field">
      <%= current_user.email%>
    </div>
    <div class="field">

      <p>Posts</p>



    </div>

  </div>
</div>
