<% @post.comment.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= current_user.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= current_user.name %>
  </p>

  <!-- <p>
    <%# <%= link_to 'Destroy Comment', [comment.post, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %> %>
  </p> -->
  <% end %>
