  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

 <% if current_user?(@post.user) || current_user?(@commenter) %>
  <p>
    <%= link_to 'Destroy Comment', [comment.post, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
 <% end %>
