  <% provide(:title, 'Sign up') %>
  <% provide(:button_text, 'Create my account') %>
  <% if logged_in? %>
    <%= link_to "You are already registered, go to your account.", current_user %>
  <% else %>
  <h1>Sign up</h1>
  <div class="container center">
    <div class="row">
      <div class="col-md-6 col-vd-offset-3 mx-auto"> <!-- mx-auto added -->
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <% end %>
