<div class="d-flex-justify mx-auto">
<%= link_to gravatar_for(current_user, size: 50), current_user %>


  <h1><%= current_user.name %></h1>
  <br>
  <span><%= link_to "View my profile", current_user, class: "btn btn-primary" %></span>
</div>

<span class=""><%= pluralize(current_user.posts.count, "post") %></span>
