.paddlft { //==============стилі щоб елементи менюшки були в рядок з відступом
  padding-left: 20px;
  max-width: 80px;
  a {
    color: grey;
  }
}

.dropdown-menu {
  min-width: 6rem;
}

header {
  max-height: 90px;
}
.normal-text-lft {
  text-align: left;
}
.normal-text-rght {
  text-align: right;
}

.d-flex-justify {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  flex-wrap: wrap;
}

.height-aside-home {
  max-height: 730px;
}
