<footer class="footer container">
  <small>
    ©2020 V Tanke by S&Z corp.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
    </ul>
  </nav>
</footer>
